<div class="service-container">
    <div class="service-pic">
    </div>
    <div class="pic-text">
        <h1 class="caption">Our Services</h1>
    </div>
    <div class="space"></div>
    <div class=" col-sm-12 title-service">
        <p>OUR TOP SERVICES</p>

        <h1>Our Main Services</h1>
    </div>

    <div class="space"></div>
    <div class="row ">
        <div class="col-lg-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="icon-center" src="/assets/icon/optimization.png"
                    alt="">
                <div class="card-body">
                    <h5 class="card-title">Strategy Planning</h5>
                    <p class="card-text">here are many variations of passages of
                        lorem Ipsum available but the new majority
                        have
                        suffered.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="icon-center" src="/assets/icon/analysis.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Insurance Service</h5>
                    <p class="card-text">here are many variations of passages of
                        lorem Ipsum available but the new majority
                        have
                        suffered.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="icon-center" src="/assets/icon/team.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Audit & Evaluation</h5>
                    <p class="card-text">here are many variations of passages of
                        lorem Ipsum available but the new majority
                        have
                        suffered.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-space">

    </div>

    <div class="row ">
        <div class="col-lg-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="icon-center" src="/assets/icon/analysis.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Insurance Service</h5>
                    <p class="card-text">here are many variations of passages of
                        lorem Ipsum available but the new majority
                        have
                        suffered.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="icon-center" src="/assets/icon/team.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Audit & Evaluation</h5>
                    <p class="card-text">here are many variations of passages of
                        lorem Ipsum available but the new majority
                        have
                        suffered.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="icon-center" src="/assets/icon/optimization.png"
                    alt="">
                <div class="card-body">
                    <h5 class="card-title">Strategy Planning</h5>
                    <p class="card-text">here are many variations of passages of
                        lorem Ipsum available but the new majority
                        have
                        suffered.</p>
                </div>
            </div>
        </div>
    </div>

</div>
