 .vertical-line {
   height: 5px;
   width: 25px;
   color: red !important;
 }

 .space {
   height: 50px;
 }

 .card-body {
   text-align: center;
 }

 .icon-center {
   height: 60px;
   width: 60px;
   margin-top: 10px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   color: #B20000;
 }

 .service-pic {
   width: 820px;
   height: 440px;
   background-image: url("/assets/icon/hero2.jpg.webp");
   filter: blur(5px);
 }

 .row-space {
   height: 50px;
 }

 .service-container {
   margin-top: 150px;
   margin-bottom: 50px;
 }

 .pic-text {
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
   font-weight: bold;
   text-align: center;

 }

 .caption {
   font-size: 50pt;
 }

 .text-center {
   align-items: center !important;
 }
.title-service{
  text-align: center;
}
.card-service{
  justify-content: center;
  display: flex;
 
}

 //  body{
 //    background-image: url("/assets/icon/hero2.jpg.webp");
 //  }