<div class="content-container">
   <div class="space-top"></div>
   <div class="title-vertical-line col-sm-12">
      <p> <strong>CHÀO MỪNG BẠN ĐẾN VỚI ĐẠI LÝ THUẾ TRÍ TÍN</strong> </p>
   </div>
    
   
   
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-sm-12">
            <div class="card card-height">
               <div class="card-body">
                  <h5 class="card-title"><i class="fa fa-handshake-o" aria-hidden="true"></i></h5>
                  <h6 class="card-subtitle mb-2 text-muted">Dịch vụ tốt nhất, chi phí thấp</h6>
                  <p class="card-text">Chúng tôi luôn cung cấp đến quý khách hàng dịch vụ tốt nhất với chi phí cạnh tranh
                     nhất.</p>
               </div>
            </div>
         </div>
   
         <div class="col-lg-4 col-sm-12">
            <div class="card card-height">
               <div class="card-body">
                  <h5 class="card-title"><i class="fa fa-handshake-o" aria-hidden="true"></i></h5>
                  <h6 class="card-subtitle mb-2 text-muted">Đội ngũ nhân viên giàu kinh nghiệm</h6>
                  <p class="card-text">Luôn đào tạo, xây dựng đội ngũ nhân viên chuyên nghiệp để đáp ứng với nhu cầu của
                     quý doanh nghiệp cũng
                     như
                     sự phát triển của nền kinh tế.</p>
               </div>
            </div>
         </div>
   
         <div class="col-lg-4 col-sm-12">
            <div class="card card-height">
               <div class="card-body">
                  <h5 class="card-title"><i class="fa fa-handshake-o" aria-hidden="true"></i></h5>
                  <h6 class="card-subtitle mb-2 text-muted">Hỗ trợ nhanh chóng, kịp thời</h6>
                  <p class="card-text">Kịp thời và nhanh chóng cập nhật, cung cấp đến khách hàng những thay đổi về các thủ tục của các cơ quan
                     nhà
                     nước để đảm bảo sự vận hành đúng luật của quý doanh nghiệp..</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <div class="title-vertical-line">
      <p> <strong>KHÁM PHÁ DỊCH VỤ CỦA CHÚNG TÔI</strong> </p>
   </div>
   
   
   <div class="row">
      <div class="col-lg-3 col-sm-12">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
               <div>
                  <button class="content-button">
                     <div class="center-button"><i class="fa fa-arrow-right" aria-hidden="true"></i> xem thêm</div>
                  </button>
               </div>
   
   
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-sm-12">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
               <div>
                  <button class="content-button">
                     <div class="center-button"><i class="fa fa-arrow-right" aria-hidden="true"></i> xem thêm</div>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-sm-12">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
               <div>
                  <button class="content-button">
                     <div class="center-button"><i class="fa fa-arrow-right" aria-hidden="true"></i> xem thêm</div>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-sm-12">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
               <div>
                  <button class="content-button">
                     <div class="center-button"><i class="fa fa-arrow-right" aria-hidden="true"></i> xem thêm</div>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   
   
   <div class="title-vertical-line">
      <p> <strong>TẠI SAO CHỌN DỊCH VỤ CỦA CHÚNG TÔI ?</strong> </p>
   </div>
   
   <div class="container text-center ">
      <div class="row">
         <div class="reason-left col-6 col-sm-6">
            <div class="row">
               <div class="text-center reason-img col-12">
                  <i class="fa fa-laptop" aria-hidden="true"></i>
               </div>
               <div class="col-12">
                  <p class="reason-content">Kế toán trực tiếp</p>
               </div>
            </div>
   
            <div class=" text-center reason-img">
               <i class="fa fa-laptop" aria-hidden="true"></i>
            </div>
            <div>
               <p class="reason-content">Báo cáo kế toán song ngữ</p>
            </div>
   
            <div class=" text-center reason-img">
               <i class="fa fa-laptop" aria-hidden="true"></i>
            </div>
            <div>
               <p class="reason-content">Báo cáo kế toán định kỳ </p>
            </div>
   
         </div>
   
         <!-- <div class="reason-img-center col-6 col-sm-4" >
            <img src="/assets/logo/logo-with-text-red.png" alt="Bootstrap">
         </div> -->
   
         <div class="reason-right col-6 col-sm-6">
            <div class="row">
               <div class="text-center reason-img col-12">
                  <i class="fa fa-laptop" aria-hidden="true"></i>
               </div>
               <div class="col-12">
                  <p class="reason-content">Không sợ mất dữ liệu</p>
               </div>
            </div>
   
            <div class=" text-center reason-img">
               <i class="fa fa-laptop" aria-hidden="true"></i>
            </div>
            <div>
               <p class="reason-content">Báo cáo kế toán hằng năm</p>
            </div>
   
            <div class=" text-center reason-img">
               <i class="fa fa-laptop" aria-hidden="true"></i>
            </div>
            <div>
               <p class="reason-content">Tư vấn chính sách thuế, kế toáns </p>
            </div>
         </div>
   
      </div>
   </div>
</div>


<app-service></app-service>
<app-about></app-about>






