<div class="content-container">
    <div class="row">
        <div class="content-container-1-left col-4">
            <h5 class="normal-title-topic">Breaking news:</h5>
            <div class="vertical-line"></div>
            <div class="space-1"></div>
            <div class="women-word"> <a href
                    style="text-decoration: none !important;" class="women-word">
                    Politics</a></div>
            <h2> <a href class="head-title-content-1" style="text-decoration:
                    none !important;">
                    The Scars of War <br> Will Remain <br> There for Life, <br>
                    Published Study <br> Finds</a></h2>
            <p>March 22, 2022</p>
            <p>I actually first read this as alkalizing meaning effecting pH
                level, and I was like, OK I guess I understand how that could
                positively effect...</p>
            <!-- <div class="button-locked">
            Locked
           </div> -->
            <h5 class="small-content-title"> <a href style="text-decoration:
                    none !important;" class="small-content-title">Companies Will
                    Invest At Least $125 Billion in Metaverse Development</a></h5>
            <div class="row">
                <div class="col-3 women-word"><a href
                        style="text-decoration: none !important;"
                        class="women-word"> Finance</a></div>
                <div class="col-6">March 8, 2022</div>
            </div>
            <!-- <div class="button-locked">
            Locked
           </div> -->
            <h5 class="small-content-title"> <a href style="text-decoration:
                    none !important;" class="small-content-title">Companies Will
                    Invest At Least $125 Billion in Metaverse Development</a></h5>
            <div class="row">
                <div class="col-3 women-word"><a href
                        style="text-decoration: none !important;"
                        class="women-word"> Finance</a></div>
                <div class="col-6">March 8, 2022</div>
            </div>
            <!-- <div class="button-locked">
            Locked
           </div> -->
            <h5 class="small-content-title"> <a href style="text-decoration:
                    none !important;" class="small-content-title">Companies Will
                    Invest At Least $125 Billion in Metaverse Development</a></h5>
            <div class="row">
                <div class="col-3 women-word"><a href
                        style="text-decoration: none !important;"
                        class="women-word"> Finance</a></div>
                <div class="col-6">March 8, 2022</div>
            </div>
        </div>

        <div class="content-container-1-center col-5">
            <img src="/assets/icon/pic2.jpg" class="pic-2" alt>
            <div class="space-3"></div>
            <div class="col-3 women-word"><a href
                    style="text-decoration: none !important;"
                    class="word-content"> Marketing</a></div>
            <h5 class="large-content-title">Customer Engagement <br> Marketing:
                New Strategy for the Economy</h5>
        </div>

        <div class="content-container-1-right col-3">
            <h5 class="title-content-right">Popular:</h5>
            <img src="/assets/icon/pic3.jpg" class="content-right-pic" alt>
            <div class="col-3 women-word"><a href
                    style="text-decoration: none !important;" class="women-word">
                    Finance</a></div>
            <h5> <a href class="sub-title-content-1-right"
                    style="text-decoration: none !important;"> The Secret to
                    Your Company’s Financial <br> Health is Very
                    Important</a></h5>
            <br>
            <img src="/assets/icon/pic3.jpg" class="content-right-pic" alt>
            <div class="col-3 women-word"><a href
                    style="text-decoration: none !important;" class="women-word">
                    Finance</a></div>
            <h5> <a href class="sub-title-content-1-right"
                    style="text-decoration: none !important;">The Secret to Your
                    Company’s Financial <br> Health is Very
                    Important</a></h5>
        </div>
    </div>
    <div class="row">
        <div class="space-2"></div>
        <div class="ads-content">
            <div class="inside-ads-left">
                <p> Stay on top of what's going on with our subscription deal!</p>
            </div>
            <div class="inside-ads-right">
                <button>Subscribe</button>
            </div>
        </div>
        <div class="space-2"></div>

        <div class="row">
            <div class="content-container-2 row">
                <div class="content-container-2-first col-6">

                    <h5 class="normal-title-topic">War in Ukraine</h5>
                    <div class="vertical-line-2"></div>
                    <div class="content-container-2-left-1 ">
                        <br>
                        <div class="inside-content-container-6-first">
                            <img src="/assets/icon/pic3.jpg"
                                class="content-6-pic-2"
                                alt>
                            <div class="space-3"></div>
                            <h5 class="title-content-2"><a href
                                    style="text-decoration: none !important;"
                                    class="title-content-2"> The Politics
                                    Behind
                                    Moscow’s
                                    Stock Market Turbulence
                                    Last Week</a>
                            </h5>
                            <div class="author-name-content-2">
                                <div class="women-word">Lara Burns</div> <div>-
                                    March 8, 2022</div>
                            </div>

                            <p>I actually first read this as alkalizing meaning
                                effecting pH level, and I was like, OK I
                                guess...</p>
                            <h5 class="small-content-title"> <a href
                                    style="text-decoration: none !important;"
                                    class="small-content-title">Companies Will
                                    Invest At Least $125 Billion in Metaverse
                                    Development</a></h5>
                            <div class="row">

                                <div class>March 8, 2022</div>
                            </div>
                            <div class="space-1"></div>
                            <h5 class="small-content-title"> <a href
                                    style="text-decoration: none !important;"
                                    class="small-content-title">Companies Will
                                    Invest At Least $125 Billion in Metaverse
                                    Development</a></h5>
                            <div class="row">

                                <div class>March 8, 2022</div>
                            </div>
                            <h5 class="small-content-title"> <a href
                                    style="text-decoration: none !important;"
                                    class="small-content-title">Companies Will
                                    Invest At Least $125 Billion in Metaverse
                                    Development</a></h5>
                            <div class="row">

                                <div class>March 8, 2022</div>
                            </div>
                        </div>
                        <div class="inside-content-container-6-first">
                            <img src="/assets/icon/pic3.jpg"
                                class="content-6-pic-2"
                                alt>
                            <div class="space-3"></div>
                            <h5 class="title-content-2"> <a href
                                    style="text-decoration: none !important;"
                                    class="title-content-2">
                                    The Politics Behind
                                    Moscow’s
                                    Stock Market Turbulence
                                    Last Week
                                </a></h5>
                            <div class="author-name-content-2">
                                <div class="women-word">Lara Burns</div> <div>-
                                    March 8, 2022</div>
                            </div>
                            <p>I actually first read this as alkalizing meaning
                                effecting pH level, and I was like, OK I
                                guess...</p>
                            <h5 class="small-content-title"> <a href
                                    style="text-decoration: none !important;"
                                    class="small-content-title">Companies Will
                                    Invest At Least $125 Billion in Metaverse
                                    Development</a></h5>
                            <div class="row">
                                <div class>March 8, 2022</div>
                            </div>
                            <h5 class="small-content-title"> <a href
                                    style="text-decoration: none !important;"
                                    class="small-content-title">Companies Will
                                    Invest At Least $125 Billion in Metaverse
                                    Development</a></h5>
                            <div class="row">
                                <div class>March 8, 2022</div>
                            </div>
                            <h5 class="small-content-title"> <a href
                                    style="text-decoration: none !important;"
                                    class="small-content-title">Companies Will
                                    Invest At Least $125 Billion in Metaverse
                                    Development</a></h5>
                            <div class="row">
                                <div class>March 8, 2022</div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="content-container-2-second col-3">
                    <h5 class="normal-title-topic">War in Ukraine</h5>
                    <div class="vertical-line-2"></div>
                    <div class="content-container-2-right-1 ">
                        <br>
                        <img src="/assets/icon/pic3.jpg"
                            class="content-right-pic-2"
                            alt>
                        <div class="space-3"></div>
                        <h5 class="title-content-2"> <a href
                                style="text-decoration: none !important;"
                                class="title-content-2">
                                The Politics Behind
                                Moscow’s
                                Stock Market Turbulence
                                Last Week
                            </a> </h5>
                        <div class="author-name-content-2">
                            <div class="women-word">Lara Burns</div> <div>-
                                March 8, 2022</div>
                        </div>
                        <p>I actually first read this as alkalizing meaning
                            effecting pH level, and I was like, OK I guess...</p>
                    </div>
                    <h5 class="small-content-title"> <a href
                            style="text-decoration: none !important;"
                            class="small-content-title">Companies Will
                            Invest At Least $125 Billion in Metaverse
                            Development</a></h5>
                    <div class="row">

                        <div class>March 8, 2022</div>
                    </div>
                    <h5 class="small-content-title"> <a href
                            style="text-decoration: none !important;"
                            class="small-content-title">Companies Will
                            Invest At Least $125 Billion in Metaverse
                            Development</a></h5>
                    <div class="row">
                        <div class>March 8, 2022</div>
                    </div>
                    <h5 class="small-content-title"> <a href
                            style="text-decoration: none !important;"
                            class="small-content-title">Companies Will
                            Invest At Least $125 Billion in Metaverse
                            Development</a></h5>
                    <div class="row">
                        <div class>March 8, 2022</div>
                    </div>

                </div>
                <div class="content-container-2-second col-3">
                    <h5 class="normal-title-topic">War in Ukraine</h5>
                    <div class="vertical-line-2"></div>
                    <div class="content-container-2-right-1 ">
                        <br>
                        <img src="/assets/icon/pic3.jpg"
                            class="content-right-pic-2"
                            alt>
                        <div class="space-3"></div>
                        <h5 class="title-content-2"> <a href
                                style="text-decoration: none !important;"
                                class="title-content-2">
                                The Politics Behind Moscow’s
                                Stock Market Turbulence
                                Last Week
                            </a> </h5>
                        <div class="author-name-content-2">
                            <div class="women-word">Lara Burns</div> <div>-
                                March 8, 2022</div>
                        </div>
                        <p>I actually first read this as alkalizing meaning
                            effecting pH level, and I was like, OK I guess...</p>
                    </div>
                    <h5 class="small-content-title"> <a href
                            style="text-decoration: none !important;"
                            class="small-content-title">Companies Will
                            Invest At Least $125 Billion in Metaverse
                            Development</a></h5>
                    <div class="row">
                        <div class>March 8, 2022</div>
                    </div>
                    <h5 class="small-content-title"> <a href
                            style="text-decoration: none !important;"
                            class="small-content-title">Companies Will
                            Invest At Least $125 Billion in Metaverse
                            Development</a></h5>
                    <div class="row">
                        <div class>March 8, 2022</div>
                    </div>
                    <h5 class="small-content-title"> <a href
                            style="text-decoration: none !important;"
                            class="small-content-title">Companies Will
                            Invest At Least $125 Billion in Metaverse
                            Development</a></h5>
                    <div class="row">
                        <div class>March 8, 2022</div>
                    </div>

                </div>

            </div>

        </div>

        <div class="space-2"></div>
        <div class="content-container-3 row">
            <h5 class="title-content-3">World of Women</h5>
            <div class="vertical-line-3"></div>
            <div class="space-3"></div>
            <div class="content-container-3-first col-3">
                <div class="women-word"> <a href
                        style="text-decoration: none !important;"
                        class="women-word">Women</a> </div>
                <h5 class="large-title-content-3"> <a href
                        style="text-decoration: none !important;"
                        class="large-title-content-3">
                        Take a Stroll Through the Pros
                        and Cons of Permanent Eyebrows Tattoos
                    </a></h5>
                <p>Lara Burns - March 8, 2022</p>
            </div>

            <div class="content-container-3-second col-3">
                <img src="/assets/icon/pic4.jpg" alt class="pic4">
            </div>
            <div class="content-container-3-first col-3">
                <div class="women-word"> <a href
                        style="text-decoration: none !important;"
                        class="women-word">Women</a> </div>
                <h5 class="large-title-content-3"> <a href
                        style="text-decoration: none !important;"
                        class="large-title-content-3">
                        Take a Stroll Through the Pros
                        and Cons of Permanent Eyebrows Tattoos
                    </a></h5>
                <p>Lara Burns - March 8, 2022</p>
            </div>

            <div class="content-container-3-second col-3">
                <img src="/assets/icon/pic4.jpg" alt class="pic4">
            </div>
        </div>
        <div class="space-3"></div>
        <div class="content-container-4 row">
            <div class="content-container-4-first col-2">
                <img src="/assets/icon/pic5.jpg" class="pic5" alt>
                <div class="space-3"></div>
                <div class="women-word"> <a href
                        style="text-decoration: none !important;"
                        class="women-word">Women</a> </div>
                <h5 class="small-title-content-4"> <a href
                        style="text-decoration: none !important;"
                        class="small-title-content-4">
                        10 Outfits Inspired by Famous
                        Works of Art are Auctioned in London
                    </a> </h5>
            </div>
            <div class="content-container-4-first col-2">
                <img src="/assets/icon/pic5.jpg" class="pic5" alt>
                <div class="space-3"></div>
                <div class="women-word"> <a href
                        style="text-decoration: none !important;"
                        class="women-word">Women</a> </div>
                <h5 class="small-title-content-4"> <a href
                        style="text-decoration: none !important;"
                        class="small-title-content-4">
                        10 Outfits Inspired by Famous
                        Works of Art are Auctioned in London
                    </a> </h5>
            </div>
            <div class="content-container-4-first col-2">
                <img src="/assets/icon/pic5.jpg" class="pic5" alt>
                <div class="space-3"></div>
                <div class="women-word"> <a href
                        style="text-decoration: none !important;"
                        class="women-word">Women</a> </div>
                <h5 class="small-title-content-4"> <a href
                        style="text-decoration: none !important;"
                        class="small-title-content-4">
                        10 Outfits Inspired by Famous
                        Works of Art are Auctioned in London
                    </a> </h5>
            </div>
            <div class="content-container-4-first col-2">
                <img src="/assets/icon/pic5.jpg" class="pic5" alt>
                <div class="space-3"></div>
                <div class="women-word"> <a href
                        style="text-decoration: none !important;"
                        class="women-word">Women</a> </div>
                <h5 class="small-title-content-4"> <a href
                        style="text-decoration: none !important;"
                        class="small-title-content-4">
                        10 Outfits Inspired by Famous
                        Works of Art are Auctioned in London
                    </a> </h5>
            </div>
            <div class="content-container-4-first col-2">
                <img src="/assets/icon/pic5.jpg" class="pic5" alt>
                <div class="space-3"></div>
                <div class="women-word"> <a href
                        style="text-decoration: none !important;"
                        class="women-word">Women</a> </div>
                <h5 class="small-title-content-4"> <a href
                        style="text-decoration: none !important;"
                        class="small-title-content-4">
                        10 Outfits Inspired by Famous
                        Works of Art are Auctioned in London
                    </a> </h5>
            </div>
            <div class="content-container-4-first col-2">
                <img src="/assets/icon/pic5.jpg" class="pic5" alt>
                <div class="space-3"></div>
                <div class="women-word"> <a href
                        style="text-decoration: none !important;"
                        class="women-word">Women</a> </div>
                <h5 class="small-title-content-4"> <a href
                        style="text-decoration: none !important;"
                        class="small-title-content-4">
                        10 Outfits Inspired by Famous
                        Works of Art are Auctioned in London
                    </a> </h5>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="content-container-5 row">
            <div class="content-container-5-first col-3">
                <h5 class="head-title-content-5">Celebrities</h5>
                <div class="vertical-line-2"></div>
                <div class="space-3"></div>
                <div class="inside-content-small">
                    <div class="inside-content-container-5-first-content">
                        <div class="women-word"> <a href
                                style="text-decoration: none !important;"
                                class="women-word">Celebrity</a> </div>
                        <h5 class="small-content-container-5-first"> <a href
                                style="text-decoration: none !important;"
                                class="small-content-container-5-first">
                                Celebrity
                                Make-up Aritist Glenny Meyers Shows you Her
                                Beauty
                                Tricks
                            </a></h5>
                    </div>
                    <div class="inside-content-container-5-first-pic">
                        <img src="/assets/icon/pic6.jpg" alt class="pic6">
                    </div>
                </div>

                <div class="inside-content-small">
                    <div class="inside-content-container-5-first-content">
                        <div class="women-word"> <a href
                                style="text-decoration: none !important;"
                                class="women-word">Celebrity</a> </div>
                        <h5 class="small-content-container-5-first"> <a href
                                style="text-decoration: none !important;"
                                class="small-content-container-5-first">
                                Celebrity
                                Make-up Aritist Glenny Meyers Shows you Her
                                Beauty
                                Tricks
                            </a></h5>
                    </div>
                    <div class="inside-content-container-5-first-pic">
                        <img src="/assets/icon/pic6.jpg" alt class="pic6">
                    </div>
                </div>

                <div class="inside-content-small">
                    <div class="inside-content-container-5-first-content">
                        <div class="women-word"> <a href
                                style="text-decoration: none !important;"
                                class="women-word">Celebrity</a> </div>
                        <h5 class="small-content-container-5-first"> <a href
                                style="text-decoration: none !important;"
                                class="small-content-container-5-first">
                                Celebrity
                                Make-up Aritist Glenny Meyers Shows you Her
                                Beauty
                                Tricks
                            </a></h5>
                    </div>
                    <div class="inside-content-container-5-first-pic">
                        <img src="/assets/icon/pic6.jpg" alt class="pic6">
                    </div>
                </div>

                <div class="inside-content-small">
                    <div class="inside-content-container-5-first-content">
                        <div class="women-word"> <a href
                                style="text-decoration: none !important;"
                                class="women-word">Celebrity</a> </div>
                        <h5 class="small-content-container-5-first"> <a href
                                style="text-decoration: none !important;"
                                class="small-content-container-5-first">
                                Celebrity
                                Make-up Aritist Glenny Meyers Shows you Her
                                Beauty
                                Tricks
                            </a></h5>
                    </div>
                    <div class="inside-content-container-5-first-pic">
                        <img src="/assets/icon/pic6.jpg" alt class="pic6">
                    </div>
                </div>

                <div class="inside-content-small">
                    <div class="inside-content-container-5-first-content">
                        <div class="women-word"> <a href
                                style="text-decoration: none !important;"
                                class="women-word">Celebrity</a> </div>
                        <h5 class="small-content-container-5-first"> <a href
                                style="text-decoration: none !important;"
                                class="small-content-container-5-first">
                                Celebrity
                                Make-up Aritist Glenny Meyers Shows you Her
                                Beauty
                                Tricks
                            </a></h5>
                    </div>
                    <div class="inside-content-container-5-first-pic">
                        <img src="/assets/icon/pic6.jpg" alt class="pic6">
                    </div>
                </div>

            </div>
            <div class="content-container-5-second col-6">
                <h5 class="head-title-content-5-yellow">LATEST ARTICLES</h5>
                <div class="vertical-line-2"></div>
                <div class="space-3"></div>
                <div class="music-word"> <a href
                        style="text-decoration: none !important;"
                        class="music-word"> Music</a></div>
                <h5> <a href class="title-content-container-5-second"
                        style="text-decoration: none !important;"> iTunes is Now
                        the
                        Second Biggest Name in New Artist Promotion</a></h5>
                <div class="sub-title-content-container-5-second">I actually
                    first read this as alkalizing meaning effecting pH level,
                    and I was like, OK I guess I understand how that could
                    positively...</div>

                <div class="space-3"></div>
                <div class="music-word"> <a href
                        style="text-decoration: none !important;"
                        class="music-word"> Music</a></div>
                <h5> <a href class="title-content-container-5-second"
                        style="text-decoration: none !important;"> iTunes is Now
                        the
                        Second Biggest Name in New Artist Promotion</a></h5>
                <div class="sub-title-content-container-5-second">I actually
                    first read this as alkalizing meaning effecting pH level,
                    and I was like, OK I guess I understand how that could
                    positively...</div>

                <div class="space-3"></div>
                <div class="music-word"> <a href
                        style="text-decoration: none !important;"
                        class="music-word"> Music</a></div>
                <h5> <a href class="title-content-container-5-second"
                        style="text-decoration: none !important;"> iTunes is Now
                        the
                        Second Biggest Name in New Artist Promotion</a></h5>
                <div class="sub-title-content-container-5-second">I actually
                    first read this as alkalizing meaning effecting pH level,
                    and I was like, OK I guess I understand how that could
                    positively...</div>

                <div class="space-3"></div>
                <div class="music-word"> <a href
                        style="text-decoration: none !important;"
                        class="music-word"> Music</a></div>
                <h5> <a href class="title-content-container-5-second"
                        style="text-decoration: none !important;"> iTunes is Now
                        the
                        Second Biggest Name in New Artist Promotion</a></h5>
                <div class="sub-title-content-container-5-second">I actually
                    first read this as alkalizing meaning effecting pH level,
                    and I was like, OK I guess I understand how that could
                    positively...</div>

                <div class="space-3"></div>
                <div class="music-word"> <a href
                        style="text-decoration: none !important;"
                        class="music-word"> Music</a></div>
                <h5> <a href class="title-content-container-5-second"
                        style="text-decoration: none !important;"> iTunes is Now
                        the
                        Second Biggest Name in New Artist Promotion</a></h5>
                <div class="sub-title-content-container-5-second">I actually
                    first read this as alkalizing meaning effecting pH level,
                    and I was like, OK I guess I understand how that could
                    positively...</div>

            </div>
            <div class="content-container-5-third col-3">
                <h5 class="head-title-content-5">Subscribe</h5>
                <div class="vertical-line-2"></div>
                <div class="space-3"></div>
                <p>
                    - Gain full access to our premium content
                    <br>
                    - Never miss a story with active notifications
                    <br>
                    - Browse free from up to 5 devices at once
                </p>
                <div class="div-placeholder-content-5">
                    <input class="placeholder-content-5" type="text" id="name"
                        placeholder=" vui lòng ghi Tên">
                </div>
                <div class="space-1"></div>
                <div class="btn-unlock-all">
                    UNLOCK ALL
                </div>
                <div class="space-3"></div>

                <div class="small-tick-btn">
                    <input type="checkbox" id="vehicle1" name="vehicle1"
                        value="Bike">
                    <label for="vehicle1"> I've read and accept the privacy
                        policy</label><br>
                </div>
                <h5>Food</h5>
                <div class="vertical-line-2"></div>
                <div class="space-3"></div>
                <img src="/assets/icon/pic7.jpg" class="pic7" alt>
                <div class="space-3"></div>
                <div class="music-word">Food</div>
                <h5 class="title-content-5-third"> <a href
                        class="title-content-5-third"
                        style="text-decoration: none !important;"> Easy Food
                        Survey: Pizza Voted
                        As One of the Most Satisfying Meals</a></h5>

                <div class="space-3"></div>
                <img src="/assets/icon/pic7.jpg" class="pic7" alt>
                <div class="space-3"></div>
                <div class="music-word">Food</div>
                <h5 class="title-content-5-third"> <a href
                        class="title-content-5-third"
                        style="text-decoration: none !important;"> Easy Food
                        Survey: Pizza Voted
                        As One of the Most Satisfying Meals</a></h5>
                <div class="space-3"></div>
                <img src="/assets/icon/pic7.jpg" class="pic7" alt>
                <div class="space-3"></div>
                <div class="music-word">Food</div>
                <h5 class="title-content-5-third"> <a href
                        class="title-content-5-third"
                        style="text-decoration: none !important;"> Easy Food
                        Survey: Pizza Voted
                        As One of the Most Satisfying Meals</a></h5>
            </div>
        </div>
    </div>

    <div class="content-container-6 row">
        <div class="content-container-6-first-row col-9">
            <h5 class="head-title-content-5">Subscribe</h5>
            <div class="vertical-line-2"></div>
            <div class="space-3"></div>
            <div class="content-container-relative-pic">
                <div class="img-wrapper">
                    <img class="inner-img" src="/assets/icon/pic8.jpg" />
                    <div class="absolute-content"> <a href
                            class="word-absolute-content"
                            style="text-decoration: none !important;"> Hottest
                            Wearable Tech <br> and Smart Gadgets of <br> 2022
                            Will Blow
                            Your <br> Mind</a></div>

                </div>
                <div class="img-wrapper">
                    <img class="inner-img" src="/assets/icon/pic8.jpg" />
                    <div class="absolute-content"> <a href
                            class="word-absolute-content"
                            style="text-decoration: none !important;"> Hottest
                            Wearable Tech <br> and Smart Gadgets of <br> 2022
                            Will Blow
                            Your <br> Mind</a></div>

                </div>
            </div>
        </div>
        <br>

        <div class="content-container-6-second-row col-9">
            <div class="content-container-relative-pic-2">
                <div class="img-wrapper">
                    <img class="inner-img-second-row"
                        src="/assets/icon/pic8.jpg" />
                    <div class="absolute-content"> <a href
                            class="word-absolute-content"
                            style="text-decoration: none !important;"> Hottest
                            Wearable Tech <br> and Smart Gadgets of <br> 2022
                            Will Blow
                            Your <br> Mind</a></div>

                </div>
                <div class="img-wrapper">
                    <img class="inner-img-second-row"
                        src="/assets/icon/pic8.jpg" />
                    <div class="absolute-content"> <a href
                            class="word-absolute-content"
                            style="text-decoration: none !important;"> Hottest
                            Wearable Tech <br> and Smart Gadgets of <br> 2022
                            Will Blow
                            Your <br> Mind</a></div>

                </div>
                <div class="img-wrapper">
                    <img class="inner-img-second-row"
                        src="/assets/icon/pic8.jpg" />
                    <div class="absolute-content"> <a href
                            class="word-absolute-content"
                            style="text-decoration: none !important;"> Hottest
                            Wearable Tech <br> and Smart Gadgets of <br> 2022
                            Will Blow
                            Your <br> Mind</a></div>

                </div>
            </div>
        </div>
        <div class="content-container-6-right">
            <div class="content-container-5 row">
                <div class="content-container-5-first col-3">
                    <h5 class="head-title-content-5">Celebrities</h5>
                    <div class="vertical-line-2"></div>
                    <div class="space-3"></div>
                    <div class="inside-content-small">
                        <div class="inside-content-container-5-first-content">
                            <div class="women-word"> <a href
                                    style="text-decoration: none !important;"
                                    class="women-word">Celebrity</a> </div>
                            <h5 class="small-content-container-5-first"> <a href
                                    style="text-decoration: none !important;"
                                    class="small-content-container-5-first">
                                    Celebrity
                                    Make-up Aritist Glenny Meyers Shows you Her
                                    Beauty
                                    Tricks
                                </a></h5>
                        </div>
                        <div class="inside-content-container-5-first-pic">
                            <img src="/assets/icon/pic6.jpg" alt class="pic6">
                        </div>
                    </div>

                    <div class="inside-content-small">
                        <div class="inside-content-container-5-first-content">
                            <div class="women-word"> <a href
                                    style="text-decoration: none !important;"
                                    class="women-word">Celebrity</a> </div>
                            <h5 class="small-content-container-5-first"> <a href
                                    style="text-decoration: none !important;"
                                    class="small-content-container-5-first">
                                    Celebrity
                                    Make-up Aritist Glenny Meyers Shows you Her
                                    Beauty
                                    Tricks
                                </a></h5>
                        </div>
                        <div class="inside-content-container-5-first-pic">
                            <img src="/assets/icon/pic6.jpg" alt class="pic6">
                        </div>
                    </div>

                    <div class="inside-content-small">
                        <div class="inside-content-container-5-first-content">
                            <div class="women-word"> <a href
                                    style="text-decoration: none !important;"
                                    class="women-word">Celebrity</a> </div>
                            <h5 class="small-content-container-5-first"> <a href
                                    style="text-decoration: none !important;"
                                    class="small-content-container-5-first">
                                    Celebrity
                                    Make-up Aritist Glenny Meyers Shows you Her
                                    Beauty
                                    Tricks
                                </a></h5>
                        </div>
                        <div class="inside-content-container-5-first-pic">
                            <img src="/assets/icon/pic6.jpg" alt class="pic6">
                        </div>
                    </div>

                    <div class="inside-content-small">
                        <div class="inside-content-container-5-first-content">
                            <div class="women-word"> <a href
                                    style="text-decoration: none !important;"
                                    class="women-word">Celebrity</a> </div>
                            <h5 class="small-content-container-5-first"> <a href
                                    style="text-decoration: none !important;"
                                    class="small-content-container-5-first">
                                    Celebrity
                                    Make-up Aritist Glenny Meyers Shows you Her
                                    Beauty
                                    Tricks
                                </a></h5>
                        </div>
                        <div class="inside-content-container-5-first-pic">
                            <img src="/assets/icon/pic6.jpg" alt class="pic6">
                        </div>
                    </div>

                    <div class="inside-content-small">
                        <div class="inside-content-container-5-first-content">
                            <div class="women-word"> <a href
                                    style="text-decoration: none !important;"
                                    class="women-word">Celebrity</a> </div>
                            <h5 class="small-content-container-5-first"> <a href
                                    style="text-decoration: none !important;"
                                    class="small-content-container-5-first">
                                    Celebrity
                                    Make-up Aritist Glenny Meyers Shows you Her
                                    Beauty
                                    Tricks
                                </a></h5>
                        </div>
                        <div class="inside-content-container-5-first-pic">
                            <img src="/assets/icon/pic6.jpg" alt class="pic6">
                        </div>
                    </div>

                </div>

            </div>

        </div>
