<section class="footer-section col-sm-12">
    <div class="container">
        <div class="row gy-2 gx-3 col-12">
            <div class="col-4 ">
                <div class="footer-link-title">CONTACT US</div>
                <div class="vertical-line"></div>
                <table>
                    <tr>
                        <td>
                            <p> <strong> CÔNG TY TNHH ĐẠI LÝ THUẾ TRÍ TÍN</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Căn D1-6, KP 2, Phường Bửu Long, TP Biên Hòa, Tỉnh Đồng Nai</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><i class="fa fa-phone" aria-hidden="true"></i> 0816.419.898 – 0913.942.123</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><i class="fa fa-envelope" aria-hidden="true"></i> text@gmail.com</p>
                        </td>
                    </tr>
                   
                </table>
                <br>
                <!-- <div class="row-icon">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>

                </div> -->
            </div>


            <div class="col-4 col-sm-4">
                <div class="footer-link-title">MORE FROM CN</div>
                <div class="vertical-line"></div>
                <table>
                    <tr>
                        <td>
                             <a routerLink="/content Top" style="text-decoration: none !important;"><p>HOME</p></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a routerLink="/service" href="#top" style="text-decoration: none !important;"><p>SEVICE</p></a>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <a routerLink="/about" style="text-decoration: none !important;"><p>ABOUT</p></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a routerLink="/contact"  aria-current="page" style="text-decoration: none !important;"><p>CONTACT</p></a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-4 col-sm-4">
                <div class="footer-link-title">QUICK LINK</div>
                <div class="vertical-line"></div>
                <table>
                    <tr>
                        <td>
                             <a routerLink="/content Top" style="text-decoration: none !important;"><p>HOME</p></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a routerLink="/service" href="#top" style="text-decoration: none !important;"><p>SEVICE</p></a>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <a routerLink="/about" style="text-decoration: none !important;"><p>ABOUT</p></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a routerLink="/contact"  aria-current="page" style="text-decoration: none !important;"><p>CONTACT</p></a>
                        </td>
                    </tr>
                </table>
            </div>


            <!-- <div class="col-5 col-sm-4">
                <div class="footer-link-title">GOOGLE MAP</div>
                <div class="vertical-line"></div>
                <div><iframe class="map-size" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0257440031073!2d106.68926811402419!3d10.809340061542958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528c25b3b7cb9%3A0xd5fdb5308353c14e!2zQ2h1bmcgQ8awIDIxLzEy!5e0!3m2!1svi!2s!4v1675485455112!5m2!1svi!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div> -->
        </div>
       


       
    </div>
    

</section>