.footer-section {
    height: 350px;
    background-color: #F2F2F2;
}

.vertical-line {
    width: 160px;
    height: 2px;
    background-color: orange;
    margin-top: 5px;
    margin-bottom: 21px;
}

.footer-link-title {
    font-size: 17pt;
    font-weight: bold;
    color: #B20000;
}

.map-size {
    border: 0;
    height: 204px !important;
    width: 420px !important;
}
