.space{
    height: 100px;
}
.input-name{
    flex: 0 0 50%;
    max-width: 50%;
}
.space-2{
    height: 30px;
}
.form-md{
    width: 100%;
    height: 50px;
}
.form-sm{
    height: 50px;
    width: 255px;
}
.form-lg{
    width: 100%;
    height: 192px;
}
.btn-success{
    margin-left: 10px;
    height: 55px;
    width: 165px;
}
.detail-form{
    text-align: center;
}
.form-right{
    font-size: 20px;
}
.about-contact-left{
    margin-bottom: 30px;
}