.space{
    height: 30px;
}
.vertical-line{
    height: 14px;
    width: 70px;
   background-color: black;
}
.btn{
    border: 2px solid black;
    border-radius: 0%;
}

.customize-button-learn-more:hover {
    background-color: black;
    color: white;
}
.content-right{
    height: 50%;
}
.space-2{
    height: 210px;
}
.ourteam-content{
    text-align: center;
}
.team-pic{
    margin-left: 40px;
}