.space{
    height: 30px;
}
.vertical-line{
    height: 5px;
    width: 70px;
   background-color: black;
}
.btn{
    border: 2px solid black;
    border-radius: 0%;
}

.customize-button-learn-more:hover {
    background-color: black;
    color: white;
}
.content-right{
    height: 50%;
}
.space-2{
    height: 210px;
}
.ourteam-content{
    text-align: center;
}
.team-pic{
    margin-left: 40px;
}
.pic-text {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
  }
  .service-pic {
    width: 1125px;
    height: 440px;
    background-image: url("/assets/icon/hero2.jpg.webp");
    filter: blur(5px);
  }
  .caption {
    font-size: 50pt;
  }
  .container{
    margin-top: 130px;
  }
  .text-above-line{
    font-size: 20pt;
  }
  .space-3{
    height: 100px;
  }
 