<div class="row">
    <div class="col-6 content-left">
        <h5>who we are</h5>
        <div class="space"></div>
        <div class="vertical-line"></div>
        <div class="space"></div>
        <h1>WE ARE DESIGN AGENCY THAT BRING YOUR IDEAS ALIVE</h1>
        <div class="space"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id autem temporibus blanditiis accusamus perferendis
            libero accusantium nisi itaque tempore, harum aliquid aut, sapiente dolor tenetur. Tempora corrupti suscipit
            delectus perspiciatis!</p>
        <div class="space"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Nostrum, voluptatibus.</p>
        <div class="space"></div>

        <button type="button" class="btn customize-button-learn-more btn-lg"> learn more</button>

    </div>

    <div class="col-6 content-right">
        <img src="/assets/icon/about_1.jpg" alt="" style="height: 700px;">
    </div>

    <div class="space-2"></div>


    <div class="col-6 content-left">
        <h5>CREATIVITY IS OUR PASSION</h5>
        <div class="space"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, quos, adipisci aliquid similique saepe ipsa
            minus <br> maxime alias libero nam quis officia eum impedit. At quisquam reprehenderit cum hic enim?</p>
        <div class="space"></div>
        <p>Necessitatibus eligendi molestias similique tempore, optio nobis numquam temporibus debitis cum <br>
            aspernatur, eius, nihil soluta sapiente enim. Incidunt ipsam praesentium voluptate in pariatur dignissimos,
            ab corporis minima ea odio asperiores.</p>
    </div>

    <div class="col-6 content-right">
        <img src="/assets/icon/about_2.jpg" alt="" style="height: 420px;">
    </div>

    <div class="space-2"></div>
    <div class="ourteam-content">
        <h1>MEET OUR TEAM</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and <br> Consonantia, there live the
            blind texts. Separated they live in Bookmarksgrove.</p>
    </div>
    <div class="team-pic row">
        <div class="col-4 ourteam-img">
            <div class="card" style="width: 18rem;">
                <img src="/assets/icon/person_1.jpg.webp" class="card-img" alt="...">
                <div class="card-body">
                    <p class="card-title">Mellisa Howard</p>
                    <p class="card-text">Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. <br> Quibusdam minus repudiandae <br> amet.</p>
                </div>
            </div>
        </div>
        <div class="col-4 ourteam-img">
            <div class="card" style="width: 18rem;">
                <img src="/assets/icon/person_2.jpg" class="card-img" alt="...">
                <div class="card-body">
                    <p class="card-title">Mike Richardson</p>
                    <p class="card-text">Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. <br> Quibusdam minus repudiandae <br> amet.</p>
                </div>
            </div>
        </div>
        <div class="col-4 ourteam-img">
            <div class="card" style="width: 18rem;">
                <img src="/assets/icon/person_1.jpg.webp" class="card-img" alt="...">
                <div class="card-body">
                    <p class="card-title">Laura Smith</p>
                    <p class="card-text">Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. <br> Quibusdam minus repudiandae <br> amet.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="space-2"></div>
</div>
